header{
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(0, 162, 173);
}

.authOptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.userDescription {
  font-size: small;
  color: rgb(155, 155, 155);
  margin-bottom: 20px;
}

.postDescription {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: medium;
}

.postTitle {
  font-size: larger;
  font-weight: normal;
  margin-bottom: 1px;
}

.votes {
  font-weight: bold;
  font-size: small;
}

.text {
  font-size: medium;
}