<main>
  <div class="authOptions">
    <h1>Edit Comment</h1>
    <a role="button" href="/posts">Back to Home</a>
  </div>
  <div>
    <form action=<%="/comments/edit/" + comment.id %> method="post">
      <textarea class="text" name="description" id="description" placeholder="Add a comment..."
        rows="4"><%= comment.description %></textarea>
      <button type="submit">Update</button>
    </form>
  </div>
</main>