<header class="header">
  <nav>
    <ul>
      <li><div><a class="branding" href="/"><img class="icon" src="/sawwit.svg">Sawwit</a></div></li>
    </ul>
    <ul>
      <li><a href="/posts" <% if (active=="posts") { %>
       class="active"
      <% } %>>Home</a></li>
      <li><a href="/subs/list" <% if (active=="subs") { %>
        class="active"
       <% } %>>Subgroups</a></li>
      <% if (!user) { %>
      <li><a href="/auth/login" <% if (active=="login") { %>
        class="active"
       <% } %>>Login</a></li>
      <li><a href="/users/" <% if (active=="signup") { %>
        class="active"
       <% } %>>Signup</a></li>
      <% } else { %>
      <li><a href="/posts/create" <% if (active=="create") { %>
        class="active"
       <% } %>>Create Post</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <% } %>
    </ul>
  </nav>
</header>