<header>
  <a role="button" href="/posts">Home</a>
</header>
<div class="box">
  <h1>Login</h1>
  <form action="/auth/login" method="post">
    <input type="text" name="uname" id="uname" placeholder="Username" />
    <input type="password" name="password" id="password" placeholder="Password" />
    <button type="submit">Login</button>
  </form>
  <a role="button" href="/users/">Signup</a>
</div>