<header>
    <a role="button" href="/">Sawwit</a>
    <a role="button" href="/posts">Home</a>
    <a role="button" href="/subs/list">Subgroups</a>
    <a role="button" href="/auth/login">Login</a>
    <a role="button" href="/users/">Signup</a>
</header>
<div class="box">
    <h1>Sign Up</h1>
    <form action="/users/" method="post">
        <input type="text" name="uname" id="uname" placeholder="Username" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <button type="submit">Signup</button>
    </form>
    <a role="button" href="/auth/login">Login</a>
</div>