<header>
  <a role="button" href="/posts">Home</a>
</header>
<div class="authOptions">
  <h1>Sub Groups</h1>
</div>
<div class="grid">
  <p>All Sub lists</p>
  <% subs.forEach(sub=> { %>
    <table style="margin-bottom: 15px;">
      <thead>
        <tr>
          <th>
            <a href="/subs/show/<%=sub%>" style="font-size: xx-large;">
              <%= sub %>
            </a>
          </th>
        </tr>
      </thead>
    </table>
    <% }) %>
</div>